
.container {
  display: grid;
  grid-template-columns: auto 35% 35%;
  grid-template-rows: auto auto auto;
}

.logo{
  grid-column-start: 1;
  grid-column-end: 4;  
}

.history{
grid-row-start:2;
grid-row-end:7;
height: 500px;

}

.amusementparks{
 
}

.beaches{
 
}

.wildlife{
 
}

.placestoeat{

}

.footer{
grid-row-start:8;
grid-row-end: 9; 
grid-column-start: 1;
grid-column-end: 4;  

}

.container div{
  border-style:solid;
  padding: 15px;
}