
.container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.logo{
  
  
}

.history{

}

.amusementparks{
 
}

.beaches{
 
}

.wildlife{
 
}

.placestoeat{

}

.footer{

}

.container div{
  border-style:solid;
  padding: 15px;
}